
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Our Upcoming Events</h1>
    <p class="lead">This is the company wide events page. Click an event for more options.</p>
  </div>
</div>


  {{#each bulletin}}
    <div class="card bg-info" style="width: 50%;">
        <a href="/bulletin/{{id}}" class="card-header">{{title}}</a>
        <div class="card-body">
        <p class="card-subtitle mb-2 text-muted date">{{date}}</p>

        <p class="card-text">{{description}}</p>
      </div>
    </div>

  {{/each}}

<button type="button" name="button" class="btn newpostbtn buttoncontainer"><a class="editpostbtn" href='/bulletin/new' name="button">Post new Message</a></button>
