
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Our Upcoming Events</h1>
    <p class="lead">This is the company wide events page. Click an event for more options.</p>
  </div>
</div>


  {{#each bulletin}}
    <div class="card" style="width: 50%;">
      <div class="card-body">
        <a href="/bulletin/{{id}}" class="card-title">{{title}}</a>
        <p class="card-subtitle mb-2 text-muted">{{date}}</p>
        <p class="card-text">{{description}}</p>
      </div>
    </div>

  {{/each}}

<a type="button" class='btn btn-default' href='/bulletin/new' name="button">Post new Message</a>
