<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' /></html>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' />
  </head>

<body class='container'>
  <nav class="navbar fixed-top ">
  <a class="navbar-brand" href="/bulletin">Company Events</a>
</nav>
{{{body}}}
</body>
