<form class="form" action="/bulletin" method="post">
  <div class="form-group">
    <label for="title">Post title</label>
    <input type="text" name="title" class='form-control' id="title" placeholder="Post title" value="">
  </div>
  <div class="form-group">
    <label for="description">Post message</label>
    <textarea type="text" name="description" class='form-control' id="description" placeholder="Post message" value=""></textarea>
  </div>
<button type="submit" class="btn btn-success">Post</button>
</form>
